<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bedtime
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="has-header ion-padding" >
  <ion-grid  class="center-grid ion-padding-top" >

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="datetime1"></ion-datetime>
      </ng-template>
    </ion-modal>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="datetime2"></ion-datetime>
      </ng-template>
    </ion-modal>

    <ion-row id="header_text">
      <ion-col>
        <ion-text>
          <h1>Bedtime <ion-icon slot="end" name="moon"></ion-icon></h1>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>
              Desired Bedtime 
              <ion-icon name="bed"></ion-icon>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Select the date and time you would like to fall asleep.
            <ion-datetime-button class="ion-padding-top" datetime="datetime1"></ion-datetime-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>
              Desired Waketime
              <ion-icon name="alarm"></ion-icon>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Select the date and time you would like to wake up.
            <ion-datetime-button class="ion-padding-top" datetime="datetime2"></ion-datetime-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row> 

    <ion-row>
      <ion-col>
        <ion-card color="light">
          <ion-card-header>
            <ion-card-subtitle>Sleep Duration</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            8 Hours
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row> 
    <ion-row><ion-col></ion-col></ion-row> 
    <ion-row><ion-col></ion-col></ion-row> 
    <ion-row><ion-col></ion-col></ion-row> 
    
    <ion-row>
      <ion-col></ion-col>
        <ion-button>
          <ion-icon slot="end" name="bed-outline"></ion-icon>
          Get Recommendation
        </ion-button>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
