<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bedtime
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid  class="center-grid">

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="datetime"></ion-datetime>
      </ng-template>
    </ion-modal>

    <ion-row id="header_text">
      <ion-col>
        <h1>Bedtime <ion-icon slot="end" name="moon"></ion-icon></h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Desired Bedtime</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-datetime-button datetime="datetime"></ion-datetime-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Desired Waketime</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-datetime-button datetime="datetime"></ion-datetime-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row> 

    <ion-row><ion-col></ion-col></ion-row> 
    <ion-row><ion-col></ion-col></ion-row> 
    <ion-row><ion-col></ion-col></ion-row> 
    <ion-row><ion-col></ion-col></ion-row> 
    
    <ion-row>
      <ion-col></ion-col>
        <ion-button>
          <ion-icon slot="end" name="bed-outline"></ion-icon>
          Get Recommendation
        </ion-button>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
