ion-grid {
    &.center-grid {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%) !important;
        display: block !important;
        /*width: 100%;*/
    }
}


ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
  }

ion-card {
    --background: #8977CE;
    --color: #FFFFFF;
  }


ion-button {
    --color: #FFFFFF !important; 
  }