<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Past Sleep Nights
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid class="center-grid">

    <ion-row>
        <ion-col><ion-datetime presentation="date"></ion-datetime></ion-col>
    </ion-row>

    <ion-row><ion-col></ion-col></ion-row> 

    <ion-row>
      <ion-col></ion-col>
        <ion-button color="danger">
          <ion-icon slot="end" name="add-outline"></ion-icon>
          No Sleep Logged
        </ion-button>
      <ion-col></ion-col>
    </ion-row>

    <ion-row><ion-col></ion-col></ion-row> 
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Sleep Recommendation</ion-card-title>
          </ion-card-header>        
          <ion-card-content>
            Want a recommendation for how much you should sleep tonight? Click 'Bedtime' below.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row> 
    <ion-row><ion-col></ion-col></ion-row> 


    <ion-row>
      <ion-col></ion-col>
      <ion-button>
        <ion-icon slot="end" name="bed-outline"></ion-icon>
        Bedtime
      </ion-button>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
